on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      builder-host:
        required: true
        type: string
      builder-target:
        required: true
        type: string
      target-vendor:
        required: true
        type: string
      target-os:
        required: true
        type: string
      rust-toolchain-abi:
        required: true
        type: string
      distro-image:
        required: true
        type: string
      distro-LLVM:
        required: true
        type: string
      rust-toolchain-name:
        required: true
        type: string
      flavor:
        required: true
        type: string
    secrets:
      CODECOV_TOKEN:
    outputs:
      rustfmt-artifact-url:
        value: ${{ jobs.linux.outputs.rustfmt-artifact-url }}

env:
  DEBIAN_FRONTEND: noninteractive
  RUSTFLAGS: "-Dwarnings"
  SRC_DIR: ${{ github.workspace }}/rawspeed.rs
  CODECOV_TOKEN_EXISTS: ${{ secrets.CODECOV_TOKEN != '' }}
  CODE_COVERAGE_SUPPORTED: ${{ inputs.flavor != 'RustFmt' && inputs.flavor != 'doc' && inputs.target-os != 'windows' }}

jobs:
  linux:
    runs-on: ${{ inputs.runs-on }}
    name: ${{ inputs.runs-on }} (${{ inputs.builder-host }}, for ${{ inputs.builder-target}}) // ${{ inputs.distro-image }}, LLVM ${{ inputs.distro-LLVM }}, Rust ${{ inputs.rust-toolchain-name }}, profile ${{ inputs.flavor }}
    container:
      image: ${{ inputs.distro-image }}
      options: --tmpfs /tmp:exec --tmpfs /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}:exec
    outputs:
      rustfmt-artifact-url: ${{ steps.rustfmt-upload.outputs.artifact-url }}
    steps:
      - name: Configure necessary env variables
        timeout-minutes: 1
        run: |
          set -xe
          if    [ "${{ inputs.builder-target }}" = "x86_64" ]      \
             || [ "${{ inputs.builder-target }}" = "aarch64" ]     \
             || [ "${{ inputs.builder-target }}" = "i686" ]        \
             || [ "${{ inputs.builder-target }}" = "powerpc64" ]   \
             || [ "${{ inputs.builder-target }}" = "powerpc64le" ] \
             || [ "${{ inputs.builder-target }}" = "s390x" ]       \
             || [ "${{ inputs.builder-target }}" = "armv7" ];
          then
          RUST_TARGET_ARCH=${{ inputs.builder-target }}
          elif [ "${{ inputs.builder-target }}" = "armv6" ]; then
          RUST_TARGET_ARCH=arm
          elif [ "${{ inputs.builder-target }}" = "riscv64" ]; then
          RUST_TARGET_ARCH=riscv64gc
          else
          exit 1
          fi
          echo "RUST_TARGET_ARCH=$(echo ${RUST_TARGET_ARCH})" >> $GITHUB_ENV
          RUST_TARGET=${RUST_TARGET_ARCH}-${{ inputs.target-vendor }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }}
          echo "RUST_TARGET=$(echo ${RUST_TARGET})" >> $GITHUB_ENV
          if [ "${{ inputs.builder-target }}" = "i686" ]; then
          LIBC6_ARCH=i386
          elif [ "${{ inputs.builder-target }}" = "powerpc64" ]; then
          LIBC6_ARCH=ppc64
          elif [ "${{ inputs.builder-target }}" = "powerpc64le" ]; then
          LIBC6_ARCH=ppc64el
          elif [ "${{ inputs.builder-target }}" = "armv6" ]; then
          LIBC6_ARCH=armel
          elif [ "${{ inputs.builder-target }}" = "armv7" ]; then
          LIBC6_ARCH=armhf
          else
          LIBC6_ARCH=${{ inputs.builder-target }}
          fi
          echo "LIBC6_ARCH=$(echo ${LIBC6_ARCH})" >> $GITHUB_ENV
          if [ "${{ inputs.builder-target }}" = "armv6" ]; then
          GCC_ARCH=arm
          elif [ "${{ inputs.builder-target }}" = "armv7" ]; then
          GCC_ARCH=arm
          else
          GCC_ARCH=${{ inputs.builder-target }}
          fi
          echo "GCC_ARCH=$(echo ${GCC_ARCH})" >> $GITHUB_ENV
          if    [ "${{ inputs.builder-target }}" = "s390x" ]      \
             || [ "${{ inputs.builder-target }}" = "powerpc64" ];
          then
          ENDIANNESS=big
          else
          ENDIANNESS=little
          fi
          echo "ENDIANNESS=$(echo ${ENDIANNESS})" >> $GITHUB_ENV
          echo HOME=/root >> "$GITHUB_ENV"
      - name: Configure APT
        timeout-minutes: 1
        run: |
          set -xe
          tee /etc/dpkg/dpkg.cfg.d/force-unsafe-io > /dev/null <<EOT
          force-unsafe-io
          EOT
          tee /etc/apt/apt.conf.d/tmpfs > /dev/null <<EOT
          Dir::Cache::Archives "/tmp/apt/archives";
          APT::ExtractTemplates::TempDir "/tmp/apt/temp";
          EOT
          mkdir -p /tmp/apt/archives
          tee /etc/apt/apt.conf.d/80retry > /dev/null <<EOT
          Acquire::Retries "10";
          EOT
          tee /etc/apt/apt.conf.d/80recommends > /dev/null <<EOT
          APT::Install-Recommends "false";
          EOT
          tee /etc/apt/apt.conf.d/80suggests > /dev/null <<EOT
          APT::Install-Suggests "false";
          EOT
          tee /etc/apt/apt.conf.d/80forceyes > /dev/null <<EOT
          APT::Get::Assume-Yes "true";
          EOT
          tee /etc/apt/apt.conf.d/80fixmissing > /dev/null <<EOT
          APT::Get::Fix-Missing "true";
          EOT
          rm -rf /etc/apt/sources.list*
          if [ "${{ inputs.distro-image }}" = "debian:trixie-slim" ]; then
          tee /etc/apt/sources.list > /dev/null <<EOT
          deb http://debian-archive.trafficmanager.net/debian trixie main
          deb http://debian-archive.trafficmanager.net/debian trixie-updates main
          deb http://debian-archive.trafficmanager.net/debian-security trixie-security main
          deb http://debian-archive.trafficmanager.net/debian trixie-backports main
          EOT
          else
            exit 1
          fi
      - name: Install eatmydata
        timeout-minutes: 1
        run: |
          set -xe
          rm -rf /var/lib/apt/lists/*
          apt update
          apt install eatmydata
          rm -rf /var/lib/apt/lists/*
      - name: Configure for native compilation
        timeout-minutes: 1
        run: |
          set -xe
          PACKAGES="${{ env.PACKAGES }}"
          PACKAGES="${PACKAGES} \
            ca-certificates \
            curl \
            git \
            gpg \
          "
          if [ "${{ inputs.flavor }}" = "dev" ] || [ "${{ inputs.flavor }}" = "release" ]; then
          PACKAGES="${PACKAGES} \
            clang-${{ inputs.distro-LLVM }} \
            lld-${{ inputs.distro-LLVM }} \
          "
          dpkg-divert --add --rename --divert /usr/bin/cc.original /usr/bin/cc
          dpkg-divert --add --rename --divert /usr/bin/gcc.original /usr/bin/gcc
          dpkg-divert --add --rename --divert /usr/bin/g++.original /usr/bin/g++
          dpkg-divert --add --rename --divert /usr/bin/ld.original /usr/bin/ld
          ln -s /usr/bin/clang-${{ inputs.distro-LLVM }} /usr/local/bin/clang
          ln -s /usr/bin/clang++-${{ inputs.distro-LLVM }} /usr/local/bin/clang++
          ln -s /usr/bin/ld.lld-${{ inputs.distro-LLVM }} /usr/local/bin/ld.lld
          ln -s /usr/local/bin/clang /usr/local/bin/cc
          ln -s /usr/local/bin/clang /usr/local/bin/gcc
          ln -s /usr/local/bin/clang++ /usr/local/bin/c++
          ln -s /usr/local/bin/clang++ /usr/local/bin/g++
          ln -s /usr/local/bin/ld.lld /usr/local/bin/ld
          fi
          echo "PACKAGES=$(echo ${PACKAGES})" >> $GITHUB_ENV
      - name: Configure for same-os cross-arch compilation
        timeout-minutes: 1
        if: (inputs.flavor == 'dev' || inputs.flavor == 'release') && inputs.target-os == 'linux' && inputs.builder-host != inputs.builder-target
        run: |
          set -xe
          PACKAGES="${{ env.PACKAGES }}"
          PACKAGES="${PACKAGES} \
            gcc-${{ env.GCC_ARCH }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }} \
            libc6-dev-${{ env.LIBC6_ARCH }}-cross \
            qemu-user \
            qemu-user-binfmt \
          "
          ln -s /usr/local/bin/clang /usr/local/bin/${{ inputs.builder-target }}-${{ inputs.target-vendor }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }}-clang
          ln -s /usr/local/bin/clang++ /usr/local/bin/${{ inputs.builder-target }}-${{ inputs.target-vendor }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }}-clang++
          ln -s /usr/local/bin/ld /usr/local/bin/${{ inputs.builder-target }}-${{ inputs.target-vendor }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }}-ld
          LINKER="${{ inputs.builder-target }}-${{ inputs.target-vendor }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }}-clang"
          if [ "${{ inputs.builder-target }}" = "powerpc64" ]; then
          # LLD/clang does not support powerpc64 ELFv1 ABI
          LINKER="${{ env.GCC_ARCH }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }}-gcc"
          fi
          mkdir -p "$HOME/.cargo" && tee -a "$HOME/.cargo/config.toml" > /dev/null <<EOT
          [target.${{ env.RUST_TARGET }}]
          linker = "${LINKER}"
          EOT
          if [ "${{ inputs.builder-target }}" != "i686" ]; then
          mkdir -p "$HOME/.cargo" && tee -a "$HOME/.cargo/config.toml" > /dev/null <<EOT
          runner = "qemu-${{ env.LIBC6_ARCH }} -L /usr/${{ env.GCC_ARCH }}-${{ inputs.target-os }}-${{ inputs.rust-toolchain-abi }}"
          EOT
          fi
          if [ "${{ inputs.builder-target }}" = "i686" ]; then
          eatmydata dpkg --add-architecture i386
          PACKAGES="${PACKAGES} \
            libc6:i386 \
          "
          fi
          echo "PACKAGES=$(echo ${PACKAGES})" >> $GITHUB_ENV
      - name: Configure for cross-os same-arch compilation
        timeout-minutes: 1
        if: (inputs.flavor == 'dev' || inputs.flavor == 'release') && inputs.target-os == 'windows'
        run: |
          set -xe
          PACKAGES="${{ env.PACKAGES }}"
          if [ "${{ inputs.builder-target }}" = "i686" ]; then
          eatmydata dpkg --add-architecture i386
          fi
          PACKAGES="${PACKAGES} \
            mingw-w64 \
            wine \
          "
          if [ "${{ inputs.builder-target }}" = "i686" ]; then
          PACKAGES="${PACKAGES} \
            wine32:i386 \
          "
          fi
          mkdir -p "$HOME/.cargo" && tee -a "$HOME/.cargo/config.toml" > /dev/null <<EOT
          [target.${{ env.RUST_TARGET }}]
          runner = "wine"
          EOT
          echo "PACKAGES=$(echo ${PACKAGES})" >> $GITHUB_ENV
      - name: Install the packages
        timeout-minutes: 2
        run: |
          set -xe
          rm -rf /var/lib/apt/lists/*
          apt update
          eatmydata apt upgrade
          eatmydata apt install ${{ env.PACKAGES }}
          eatmydata apt clean
          rm -rf /var/lib/apt/lists/*
      - name: Install Rust toolchain and targets
        timeout-minutes: 1
        run: |
          set -xe
          eatmydata curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-toolchain none -y
          . "$HOME/.cargo/env"
          eatmydata rustup toolchain install ${{ inputs.rust-toolchain-name }} --allow-downgrade --profile minimal
          eatmydata rustup default ${{ inputs.rust-toolchain-name }}
          eatmydata rustup target add ${{ env.RUST_TARGET }}
          if [ "${{ inputs.flavor }}" = "RustFmt" ]; then
          eatmydata rustup component add rustfmt
          elif [ "${{ inputs.flavor }}" = "doc" ]; then
          /bin/true
          elif [ "${{ inputs.flavor }}" = "dev" ] || [ "${{ inputs.flavor }}" = "release" ]; then
          eatmydata rustup component add clippy
          else
          exit 1
          fi
      - name: Install necessary Rust packages for code coverage
        if: env.CODE_COVERAGE_SUPPORTED == 'true' && (inputs.builder-host == inputs.builder-target || (env.ENDIANNESS == 'big' && inputs.builder-target != 's390x')) && (github.event_name == 'pull_request' || env.CODECOV_TOKEN_EXISTS == 'true')
        timeout-minutes: 2
        run: |
          set -xe
          . "$HOME/.cargo/env"
          eatmydata rustup component add llvm-tools-preview
          eatmydata cargo install cargo-llvm-cov
      - name: Fetch/Checkout RawSpeed.RS git repo
        timeout-minutes: 1
        uses: actions/checkout@v4
        with:
          path: 'rawspeed.rs'
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
          set-safe-directory: ${{ github.workspace }}
      - name: Switch to the Pull Request's merge commit
        timeout-minutes: 1
        if: github.event_name == 'pull_request_target'
        env:
          PR: ${{ github.event.number }}
        run: |
          set -xe
          cd rawspeed.rs
          git fetch origin pull/${PR}/merge:pr/${PR}/merge
          git switch pr/${PR}/merge
      - name: Verify that the source code is properly formatted
        id: rustfmt
        timeout-minutes: 1
        if: inputs.flavor == 'RustFmt'
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo fmt --all
          git diff -p -U8 > "${GITHUB_WORKSPACE}/rustfmt.patch"
          git diff --stat --exit-code
      - name: Upload rustfmt patch
        id: rustfmt-upload
        timeout-minutes: 1
        if: inputs.flavor == 'RustFmt' && failure() && steps.rustfmt.conclusion == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: rustfmt.patch
          path: ${{ github.workspace }}/rustfmt.patch
          if-no-files-found: error
          compression-level: 9
          overwrite: true
      - name: Run cargo check
        timeout-minutes: 1
        if: inputs.flavor != 'RustFmt' && inputs.flavor != 'doc'
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo check --target ${{ env.RUST_TARGET }} --profile ${{ inputs.flavor }} --all-targets --all-features
      - name: Run Clippy
        timeout-minutes: 1
        if: inputs.flavor != 'RustFmt' && inputs.flavor != 'doc'
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo clippy --target ${{ env.RUST_TARGET }} --profile ${{ inputs.flavor }} --all-targets --all-features
      - name: Build
        timeout-minutes: 1
        if: inputs.flavor != 'RustFmt' && inputs.flavor != 'doc'
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo build --target ${{ env.RUST_TARGET }} --profile ${{ inputs.flavor }}
      - name: Run tests
        timeout-minutes: 2
        if: inputs.flavor != 'RustFmt' && inputs.flavor != 'doc'
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo test --target ${{ env.RUST_TARGET }} --profile ${{ inputs.flavor }}
      - name: Run tests to collect code coverage
        timeout-minutes: 2
        if: env.CODE_COVERAGE_SUPPORTED == 'true' && (inputs.builder-host == inputs.builder-target || (env.ENDIANNESS == 'big' && inputs.builder-target != 's390x')) && (github.event_name == 'pull_request' || env.CODECOV_TOKEN_EXISTS == 'true')
        env:
          RUSTFLAGS: "-C instrument-coverage"
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo clean
          cargo llvm-cov --no-report --target ${{ env.RUST_TARGET }} --profile ${{ inputs.flavor }}
      - name: Aggregate code coverage
        timeout-minutes: 1
        if: env.CODE_COVERAGE_SUPPORTED == 'true' && (inputs.builder-host == inputs.builder-target || (env.ENDIANNESS == 'big' && inputs.builder-target != 's390x')) && (github.event_name == 'pull_request' || env.CODECOV_TOKEN_EXISTS == 'true')
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo llvm-cov report --codecov --output-path $SRC_DIR/codecov.json --target ${{ env.RUST_TARGET }} --profile ${{ inputs.flavor }}
      - name: Upload coverage reports to Codecov
        timeout-minutes: 1
        if: env.CODE_COVERAGE_SUPPORTED == 'true' && (inputs.builder-host == inputs.builder-target || (env.ENDIANNESS == 'big' && inputs.builder-target != 's390x')) && (github.event_name == 'pull_request' || env.CODECOV_TOKEN_EXISTS == 'true')
        uses: codecov/codecov-action@v5
        env:
          OS: ${{ inputs.os }}
          BUILDER_HOST: ${{ inputs.builder-host }}
          BUILDER_TARGET: ${{ inputs.builder-target }}
          RUST_TOOLCHAIN: ${{ env.RUST_TARGET }}
          LLVM_VER: ${{ inputs.distro-LLVM }}
          RUST_PROFILE: ${{ inputs.flavor }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: OS,BUILDER_HOST,BUILDER_TARGET,ENDIANNESS,RUST_TOOLCHAIN,LLVM_VER,RUST_PROFILE
          flags: ${{ env.OS }}, host=${{ env.BUILDER_HOST }}, target=${{ env.BUILDER_TARGET }}, endianness=${{ env.ENDIANNESS }}, rust=${{ env.RUST_TOOLCHAIN }}, LLVM=${{ env.LLVM_VER }}, profile=${{ env.RUST_PROFILE }}
          files: ${{ env.SRC_DIR }}/codecov.json
          root_dir: ${{ env.SRC_DIR }}
          fail_ci_if_error: true
      - name: Build docs
        timeout-minutes: 1
        if: inputs.flavor == 'doc'
        run: |
          set -xe
          . "$HOME/.cargo/env"
          cd "$SRC_DIR"
          cargo doc
          if [ ! -f $SRC_DIR/target/doc/index.* ]; then
          tee $SRC_DIR/target/doc/index.html > /dev/null <<EOT
          <head>
          <meta http-equiv="Refresh" content="0; URL=./rawspeed/index.html" />
          </head>
          EOT
          fi
      - name: Upload docs artifact
        timeout-minutes: 1
        if: inputs.flavor == 'doc'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ github.workspace }}/rawspeed.rs/target/doc
